body{
  background-color: #1a1a2e;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
}
h1{
  color: #f0ece2;
  font-size: 5.625rem;
  font-family: 'Blinker', sans-serif;
  text-align: center;
}
h2{
  color: #f0ece2;
  font-size: 3.5rem;
  text-align: center;
}
p{
  line-height: 2;
  padding: 2% 15%;
}
/* Common sections */
.seccion-sincolor{
  background-color: #dddddd;
  color: #1a1a2e;
}
.seccion-sincolor h2{
  color: #1a1a2e;
}
.padding515{
  padding: 5% 15%;
}
/* Nav Bar */
.navbar{
  padding: 2% 7%;
}
/* Presentacion */
#presentacion{
  padding-bottom: 13%;
}
.titular{
  padding: 5% 15%;
  margin-top: 2%;
}
.main-header-2{
  font-size: 2rem;
}
.title-koi{
  height: 23rem;
  width: 23rem;
  position: absolute;
  left: 13rem;
  top: 6rem;
  z-index: -1;
}
/* Acerca de mi */


/* Explicacion Koi */
.koi-exp{
  width: 25rem;
  height: 25rem;
  position: absolute;
  right: 4rem;
  z-index: -2;
}
/* Seccion mi conocimiento*/
#conocimiento img{
  width: 10rem;
  height: 10rem;
}
#conocimiento div{
  margin: 0 5%;
}
.skill-row{
  padding: 2rem 0;
  text-align: left;
}
.skill-text{
  padding: 0;
}
.browser-icon{
  float: left;
  margin-right: 30px;
}
.processor-icon{
  float: right;
  margin-left: 30px;
}

/* Proyectos  */
.proyecto-img{
  width: 90%;
  margin: 20px;
}
.carousel-title{
  font-size: 3rem;
}
.carousel-btn:hover{
  background-color: #1a1a2e;
}
.git-link{
  text-decoration: none;
  color: #641c34;
}
/* Contacto */
#contacto{
  margin-bottom: 1rem;
}
.contact-dragon{
  height: 40rem;
  width: 25rem;
  position: absolute;
  left: 0.2rem;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  z-index: -3;
}
.contact-message{
  color: grey;
  margin: 0 5rem;
}
.contact-btn-container{
  padding-top: 3rem;
}
.contact-btn {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 4rem;
   line-height: 35px;
   color: #FFFFFF;
   width: 14rem;
   font-size: 30px;
   font-weight: normal;
   padding: 11px;
   background-color: #2B2E4A;
   -webkit-box-shadow: 1px 1px 20px 0 #3C3D4A;
   -moz-box-shadow: 1px 1px 20px 0 #3C3D4A;
   box-shadow: 1px 1px 20px 0 #3C3D4A;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-bottom: 0.5rem;
}
.contact-btn:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
/* Footer */
.footer-link{
  color: #FFFFFF;
  text-decoration: none;
  margin: 0 1rem;
}
.footer-link:hover{
  color: #2b2e4a;
}
@media (max-width: 1080px){
  .title-koi{
    position: absolute;
    top: 6rem;
    left: 2rem;
  }
}
