body{
  background-color: #1a1a2e;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
}
h1{
  color: #f0ece2;
  font-size: 5.625rem;
  font-family: 'Blinker', sans-serif;
  text-align: center;
}
h2{
  color: #f0ece2;
  font-size: 3.5rem;
  text-align: center;
}
hr{
  background-color: transparent;
  border-color: #53354A;
  border-style: dotted none none;
  border-top-width: 7px;
  width: 10%;
  margin: 4rem auto;
}
p{
  line-height: 2;
  padding: 2% 15%;
}
/* Common sections */
.seccion-sincolor{
  background-color: #dddddd;
  color: #1a1a2e;
}
.seccion-sincolor h2{
  color: #1a1a2e;
}
.padding515{
  padding: 5% 15%;
}
/* Nav Bar */
.navbar{
  padding: 2% 7%;
}
/* Presentacion */
#presentacion{
  margin-bottom: -12rem;
}
.titular{
  padding: 5% 15%;
  margin-top: 2%;
}
.main-header-2{
  font-size: 2rem;
}
.title-koi{
  height: 50%;
  width: 50%;
  position: relative;
  bottom: 250px;
  right: 270px;
  z-index: -1;
}
/* Acerca de mi */


/* Explicacion Koi */
.koi-exp{
  width: 25rem;
  height: 25rem;
  position: absolute;
  right: 4rem;
  z-index: -2;
}
/* Seccion mi conocimiento*/
#conocimiento img{
  width: 10rem;
  height: 10rem;
}
.skill-row{
  margin: 6rem 0;
  text-align: left;
}
.skill-text{
  padding: 0;
}
.browser-icon{
  float: left;
  margin-right: 30px;
}
.processor-icon{
  float: right;
  margin-left: 30px;
}
.bottom-container{
  background-color: #53354a;
  padding: 40px 0 20px;
}
.contact-message{
  width: 30%;
  margin: 40px auto 40px;
}
.footer-link{
  color: #FFFFFF;
  text-decoration: none;
  margin: auto 10px;
}
.footer-link:hover{
  color: #2b2e4a;
}

.contact-btn {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 35px;
   line-height: 35px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   width: 180px;
   font-size: 30px;
   font-weight: normal;
   padding: 20px;
   background-color: #2B2E4A;
   -webkit-box-shadow: 1px 1px 20px 0 #3C3D4A;
   -moz-box-shadow: 1px 1px 20px 0 #3C3D4A;
   box-shadow: 1px 1px 20px 0 #3C3D4A;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-bottom: 20px;
}

.contact-btn:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
